<html>
    <head>
        <style>
            #Border{
                border-bottom: 1px slateblue;
                border-top: 1px slateblue;
                border-left: 1px slateblue;
                border-right: 1px slateblue;
                border-radius: 25px;
                background-color: lightblue;
                height: auto;
            }
        </style>
    </head>

    <body>
        <form name="Board" >
            <div id="Border"> </div>
        </form>

    </body>
</html>