<html>
    <head>
        <style>
            #Border{
                border-bottom: 1px slateblue;
                border-top: 1px slateblue;
                border-left: 1px slateblue;
                border-right: 1px slateblue;
                border-radius: 25px;
                background-color: lightblue;
                height: auto;
            }
        </style>
    </head>

    <body>
        <form name="Board" >
            <div id="Border"> </div>
        </form>

        <script>
        function GetFormData(){
            const nameElement = document.getElementById("name");
            const name = nameElement.value;
            const emailElement = document.getElementById("email_name");
            const email = emailElement.value;
            const subjectElement = document.getElementById("subject_name");
            const subject = subjectElement.value;
            const commentElement = document.getElementById("comment_name");
            const comment = commentElement.value;
            alert("你的姓名是 " + name + "\n電子郵件是 " + email+ "\n题目是 "+subject+ "\n留言是 "+comment);
        }
        
        
        </script>
    </body>
</html>